##############################
## Java
##############################
.mtj.tmp/
javadoc/
allure-results/
*.class
*.jar
*.png

##############################
## Gradle
##############################
.gradle/
build/
gradle/
gradlew
gradlew.bat

##############################
## IntelliJ
##############################
.idea/